<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.js"></script>
	<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- 背景块 -->
	<div class="background">
		<canvas class="canvas"></canvas>
	</div>

	<!--头部区-->
	<header class="header">
		个人网站
	</header>

	<!--内容区-->
	<div class="main col-md-10 container">
		<div class="nav row">
      <div class="nav-item col-md-2 active"><a href="#/main">主页</a></div>
			<!--<a href="/dist/view/index.html#/note"></a>-->
      <div class="nav-item col-md-2"><a href="#/note">学习笔记</a></div>
      <div class="nav-item col-md-2"><a href="#/plan">学习规划</a></div>
      <div class="nav-item col-md-2"><a href="#/info">学习资料</a></div>
      <div class="nav-item col-md-2"><a href="#/life">我的生活</a></div>
      <div class="nav-item col-md-2"><a href="#/more">更多</a></div>
		</div>

		<div class="content"></div>
	</div>
</body>
</html>